<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('调整报数')"/>
    <th:block th:include="include :: bootstrap-table-group-by-v2-css" />

</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-order-edit" th:object="${bizOrder}">
        <input name="id" th:field="*{id}" type="hidden">
        <input name="taskId" th:field="*{taskId}" type="hidden">

        <div class="form-group">
            <label class="col-sm-3 control-label">客户ID：</label>
            <div class="col-sm-8">
                <input name="customerId" th:field="*{customerId}" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">客户名称：</label>
            <div class="col-sm-8">
                <input name="customerName" th:field="*{customerName}" class="form-control" type="text" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">客户要求：</label>
            <div class="col-sm-8">
                <input name="specialDemands" th:field="*{specialDemands}" class="form-control" type="text" readonly>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">提货方式：</label>
            <div class="col-sm-8">
                <select name="pickUpWay" class="form-control m-b"
                        th:with="type=${@dict.getType('biz_order_pick_up_way')}" readonly>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                            th:field="*{pickUpWay}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">提货日期：</label>
            <div class="col-sm-8">
                <input name="pickUpDate" th:field="*{pickUpDate}" class="form-control" type="text" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否已付款：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@dict.getType('biz_order_paid')}">
                    <input type="radio" th:id="${'paid_' + dict.dictCode}" name="paid" th:value="${dict.dictValue}"
                           th:field="*{paid}" readonly>
                    <label th:for="${'paid_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">优先级：</label>
            <div class="col-sm-8">
                <select name="priority" class="form-control m-b" th:with="type=${@dict.getType('biz_order_priority')}"
                        readonly>
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"
                            th:field="*{priority}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control" readonly>[[*{remark}]]</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">审核意见：</label>
            <div class="col-sm-8 ">
                <textarea name="remark" class="form-control text-danger" readonly>[[${latestComment}]]</textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">订单明细：</label>
            <div class="col-sm-8">
                <table class="table" id="reportTable"  data-show-footer="true">
                    <thead>
                    <tr>
                        <th>货号</th>
                        <th>色号</th>
                        <th>米数</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${orderDetails}">
                        <td th:text="${item.itemNo}"/>
                        <td th:text="${item.colorCode}"/>
                        <td th:text="${item.length}"/>
                        <td th:text="${item.remark}"/>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>


        <div class="form-group">

            <label class="col-sm-3 control-label">上报米数与色差：</label>

            <div class="col-sm-8 ">
                <div class="btn-group-sm" id="toolbar" role="group">
                    <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="process:order_vendor:add">
                        <i class="fa fa-plus"></i> 添加
                    </a>
                    <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                       shiro:hasPermission="process:order_vendor:edit">
                        <i class="fa fa-edit"></i> 修改
                    </a>
                    <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                       shiro:hasPermission="process:order_vendor:remove">
                        <i class="fa fa-remove"></i> 删除
                    </a>

                </div>
                <dev class="select-table table-striped">
                    <table id="bootstrap-table"></table>
                </dev>

            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"></label>

             <div class="col-sm-8 align-self-center">
                    <button type="button" class="btn btn-w-m btn-primary" onclick="submitHandler()">完成调整报数</button>
             </div>
        </div>


        <div class="form-group hidden">
            <label class="col-sm-3 control-label">上报米数与色差：</label>
            <div class="col-sm-8">
                <textarea name="p_COM_comment" id="p_COM_comment" class="form-control"></textarea>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-table-group-by-v2-js" />

<script th:inline="javascript">
    var prefix = ctx + "process/order";
    var taskId = [[${taskId}]];

    var editFlag = [[${@permission.hasPermi('process:order_vendor:edit')}]];
    var removeFlag = [[${@permission.hasPermi('process:order_vendor:remove')}]];
    var prefix_order_vender = ctx + "process/order_vendor";
    var orderId = [[${bizOrder.orderId}]]
    var customerId = [[${bizOrder.customerId}]]


    $(function () {
        var options = {
            url: prefix_order_vender + "/list/" + orderId,
            createUrl: prefix_order_vender + "/add?orderId=" + orderId+ "&customerId=" + customerId,
            updateUrl: prefix_order_vender + "/edit/{id}",
            removeUrl: prefix_order_vender + "/remove",
            exportUrl: prefix_order_vender + "/export",
            modalName: "订单报数",
            pageSize: 100,
            sidePagination: "client",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: 'null',
                    visible: false
                },
                {
                    field: 'orderId',
                    title: '订单ID'
                },

                {
                    field: 'colorCode',
                    title: '色号'
                },
                {
                    field: 'itemNo',
                    title: '货号'
                },
                {
                    field: 'buyQuote',
                    title: '供应商报数'
                },
                {
                    field: 'sellQuote',
                    title: '出档口数量'
                },
                {
                    field: 'remark',
                    title: '备注'
                }],

                    groupBy: "true",
                    groupByField: ["itemNo", "colorCode"],
                    groupByFormatter: function(value, idx, data){
                        console.log()
                        return  value + ", 报数合计：" + sumQuote(data);
                    }
        };
        $.table.init(options);
    });

    $("#form-order-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {


           $('#p_COM_comment').val("重新调整报数");

            $.operate.saveTab(prefix + "/completeReports/" + taskId, $('#form-order-edit').serialize());
        }
    }
    function sumQuote(rows) {
        var result = 0;
        rows.forEach(function (row) {
            result += row.buyQuote;
        })
        return result;
    }



</script>
</body>
</html>