<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增订单明细')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-detail-add">
            <div class="form-group">
                <label class="col-sm-3 control-label">订单号：</label>
                <div class="col-sm-8">
                    <input name="orderId" class="form-control" th:value="${orderId}" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货号：</label>
                <div class="col-sm-8">
                    <input name="itemNo" class="form-control" id="itemNo" type="text" isItemNo="true" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">色号：</label>
                <div class="col-sm-8">
                    <input name="colorCode" class="form-control" type="text" isColorCode="true" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">长度：</label>
                <div class="col-sm-8">
                    <input name="length" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否买过：</label>
                <div class="col-sm-8">
                    <div class="radio-box" th:each="dict : ${@dict.getType('biz_order_paid')}">
                        <input type="radio" th:id="${'purchased_' + dict.dictCode}" name="purchased" th:value="${dict.dictValue}" th:checked="${dict.default}">
                        <label th:for="${'purchased_' + dict.dictCode}" th:text="${dict.dictLabel}"></label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <input name="remark" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "process/order/detail";
        $("#form-detail-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-detail-add').serialize());
            }
        }
    </script>
</body>
</html>